.card {
  .card-body {
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }

    .card-title {
      margin: 0.75rem;
    }

    .profile-button {
      margin-bottom: 10px;
    }

    .card-text {
      margin-top: 0.75rem;
    }

    small {
      align-self: center;
    }
  }
}